/*Sette egen font: */
@font-face {
    font-family: "BootsAndSpurs";
    src: url("../fonts/BootsAndSpurs.ttf");
}

/*Sette font for resten av teksten på siden, samt ekstra fonter*/
body {
    font-family: 'Roboto', Verdana, sans-serif;
}

/*Velge ut hvilke elementer som skal ha Boots fonten:*/
h1,
h2,
.logo {
    font-family: "BootsAndSpurs", "Segoe UI", Tahoma, Verdana;
}

.logo {
    font-size: 2rem;
}

/*Sette bakgrunnsfarge for head og footer*/
header, footer {
    background-color: #202020;
    color: #FFF;
}

/* Meny */
header {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 25px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: inline-block;
}

/* Sette underline på aktiv side*/
.action {
    text-decoration: underline;
}

header a {
    color: #FFF;
    padding: 10px;   /*Mellomrom meny: Padding istedenfor margin fordi nå blir mer området "klikkbart" (mer brukervennlig) */
}

/* Send now knapp på contact side*/
.cta {
    background-color: #BB0000;
    color: #FFF;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
    cursor: pointer;

}

.cta-small {
    padding: 8px 30px;
    font-size: 0,8em;
}

.reviews {
    background-color: #E8E8E8;
}

.featured__products {
    background-color: #FbFbfb;
}

.cta-sale {
    background-color: #127300;
}

.footer {
    text-align: center;
}

/* Links */
a {
    text-decoration: none;
}

.hand-strumming-guitar {
    border-radius: 100px;
    width: 40%;
}

/* Bildet på forsiden til Guitar Kings (bakgrunnsbilde */
.frontpage {
    background-image: url('../images/home-header.jpg');  
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    min-height: 70vh;
    position: relative;
}

/* Posisjonere header og view knappen sammen med bakgrunnsbilde */
.welcome__content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}

/* Posisjonere "our guitars" og bildet til to like store flex bokser */
.selling-points, 
.reviews__content {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.selling-points {
    margin: 50px auto;
}

.selling-points > *,
.reviews__content > * {
    flex: 1;
}

/* Runde av bildene under review seksjonen */
.review-bio, 
.review-bio2 {
    border-radius: 50%;
    width: 80px;
    float: right;
}

.reviews {
    text-align: center;
    padding: 50px;
}

.reviews__content {
   text-align: left;
   margin: auto;
}

.reviews__content div{
    margin: 50px;
}

.reviews__name {
    display: block;
}

/* KONTAKT siden */
input,
select,
textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    height: 100%;
}

textarea {
    vertical-align: top;    /*Flytte den øverst */
    height: 4em;
    resize: vertical;
}

.contact {
    max-width: 1000px;
    margin: auto;
}

.form-wrapper {
    display: flex;
}

.form-wrapper > * {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Product Specific Page /Sette inn flex bokser for å få det utsende jeg ønsker  */
.product-specific_flex {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
}

.product-specific_flex > * {
    flex: 1;
}

.product-specific_details {
    padding: 0px 30px;
}

.product-specific__details a {
    display: block;
    width: 95.767px;
    margin: auto;
}

.product-specific_price {
    font-size: 1.5em;
}

.product-image {
    width: 100%;
}

.product-image_thumbnails {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 5px;
}


