header {
    background-color: #202020;
}

header a {
    color: #FFF;
}

.cta {
    background-color: #BB0000;
    color: #FFF;
}

.reviews {
    background-color: #E8E8E8;
}

.featured {

}

.featured--products {
    background-color: #FbFbfb;
}

.cta-view {
    
}