@font-face {
    font-family: "BootsAndSpurs";
    src: url(../fonts/BootsAndSpurs.ttf) format(truetype);
}

h1,
.logo {
    font-family: "BootsAndSpurs", "Segoe UI";
}

header, footer {
    background-color: #202020;
    color: #FFF;
}

header a {
    color: #FFF;
}

.cta {
    background-color: #BB0000;
    color: #FFF;
    font-size: 1.5em;
}

.reviews {
    background-color: #E8E8E8;
}

.featured--products {
    background-color: #FbFbfb;
}

.cta-sale {
    background-color: #127300;
}

.footer {
    text-align: center;
}